/*
Theme Name:	Codex
Theme URI: git@bitbucket.org:balexandrowicz/codex.git 
Description: Base template for client project sites.
Version: 1.0
Author: Electronic Ink
Author URI: http://www.electronicink.com
*/

#ads_box {
	margin-top: 100px;
}

@media (max-width: 800px) {
	.navbar-nav {
		float: left !important;
	}
	.hero {
		text-align: center;
	}
	.hero h1 {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

.navbar-default .navbar-brand {
	color: #2495CF;
}
.navbar-default .navbar-brand:hover {
	color: #19394F;
}


.navbar-default .navbar-nav > li > a {
	color: #2495CF;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
	background: #2495CF;
}

.navbar-default .navbar-nav>.active>a {
	color: #fff;
	background: #19394F;
}

.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
	background: #2495CF;
}

.container.default {
	margin-top: 120px;
}

.project-thumbnail img {
	width: 100%;
	height: auto;
}

.panel-heading h1 {
	margin: 0;
	padding: 4px 0;
	font-size: 20px;
}

.panel {
	border-radius: 0;
}

.project h2 {
	font-size: 16px;
	padding: 0 0 4px 0;
	margin: 0;
}
.row.first .col-md-6 {
	padding-top: 15px;
}
.row.second .col-md-6 {
	padding-top: 15px;
}

.project-info-secondary {
	margin-top: 55px;
}

.project-info-secondary h2 {
	margin: 0;
	padding-bottom: 4px;
	font-size: 16px;
}

.row.downloads {
	padding-top: 30px;
}
.row.videos {
	padding-top: 30px;
}

.project-title {
	padding-top: 0;
	margin-top: 0;
}

.hero {
	width: 100%;
	padding: 100px 0 50px 0;
	background-image: url(./assets/img/hero-sample.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
}